.player {
    width: 260px;
    display: flex;
    align-items: center;
    background-color: rgb(127, 255, 212, 0.8);
    border: 2px solid rgb(65, 65, 65);
    border-right: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    overflow: hidden;

    img {
        height: 65px;
        width: 65px;
        object-fit: cover;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    span {
        font-size: 24px;
        padding: 5px 2px;
        margin-left: 16px;
        font-weight: 500;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.player-active {
    background-color: orange !important;
}