<app-player (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index;" class="hide-mobile player-position"
    [ngStyle]="{'top.px': 75 + (i * 80)}" [image]="game.player_images[i]" [name]="player" [playerActive]="i == game.currentPlayer"></app-player>

<div class="hide-desktop scroll-container">
    <app-player-mobile (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index;"
        [ngStyle]="{'left.px': 10 + (i * 65), 'top.px': 0}" [image]="game.player_images[i]" [name]="player"
        [playerActive]="i == game.currentPlayer"></app-player-mobile>
</div>

<div *ngIf="!gameOver" class="game-content">
    <div class="card-stack">
        <!-- card stack -->
        <img *ngFor="let c of [0,1,2,3]; let i = index;" [ngStyle]="{'right.px': i * 5}"
            src="assets/img/cards/card_cover.png">

        <img (click)="takeCard()" src="assets/img/cards/card_cover.png" class="top-card" style="right: 25px;">

        <!-- stack for played cards -->
        <img *ngFor="let card of game.playedCards" src="assets/img/cards/{{ card }}.png" class="played-card">

        <!-- current card animation -->
        <img (click)="takeCard()" *ngIf="game.pickCardAnimation" src="assets/img/cards/{{ game.currentCard }}.png"
            class="pick-card" style="right: 25px;">
    </div>
</div>

<app-game-instruction *ngIf="!gameOver" [card]="game.currentCard" class="pin-bottom"></app-game-instruction>

<button *ngIf="!gameOver" (click)="openDialog()" mat-fab color="primary" class="btn-add">
    <mat-icon>add</mat-icon>
</button>

<div *ngIf="gameOver">
    <img src="assets/">
</div>