<app-player *ngFor="let player of game.players; let i = index;" class="player-position"
    [ngStyle]="{'top.px': 100 + (i * 85)}" [name]="player" [playerActive]="i == game.currentPlayer"></app-player>

<div class="game-content">
    <div class="card-stack">
        <!-- card stack -->
        <img *ngFor="let c of [0,1,2,3]; let i = index;" [ngStyle]="{'right.px': i * 5}"
            src="/assets/img/cards/card_cover.png">

        <img (click)="takeCard()" src="/assets/img/cards/card_cover.png" class="top-card" style="right: 25px;">

        <!-- stack for played cards -->
        <img *ngFor="let card of game.playedCards" src="/assets/img/cards/{{ card }}.png" class="played-card">

        <!-- current card animation -->
        <img (click)="takeCard()" *ngIf="pickCardAnimation" src="/assets/img/cards/{{ currentCard }}.png"
            class="pick-card" style="right: 25px;">
    </div>
</div>

<button (click)="openDialog()" mat-fab color="primary" class="btn-add">
    <mat-icon>add</mat-icon>
</button>