.profile-pic-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 5px;
    border: 3px solid rgb(109, 109, 109);

    @media (max-width: 720px) {
        width: 60px;
        height: 60px;
        padding: 2px;
        border: 1px solid rgb(109, 109, 109);
        margin: 8px;
        margin-bottom: 5px;
    }

    &:hover {
        filter: opacity(0.4);
    }
}

.btn-container {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 16px;
    margin-bottom: 12px;

    @media (max-width: 720px) {
        margin-top: 6px;
        margin-bottom: 12px;
    }

    button {
        font-family: 'Courgette', 'sans-serif' !important;
        font-size: 17px !important;

        @media (max-width: 720px) {
            font-size: 15px !important;
        }
    }
}