.player {
    width: 65px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(233, 217, 192, 0.88);
    border: 2px solid rgb(65, 65, 65);
    border-top: none;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    img {
        height: 65px;
        width: 65px;
        object-fit: cover;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        margin-bottom: -8x;
    }

    span {
        width: 60px;
        font-size: 14px;
        font-weight: 500;
        margin-top: 8px;
        overflow: hidden;
        text-align: center;
    }
}

.player-active {
    background-color: rgb(245, 144, 61) !important;
}